/**
 *
 *	. Modules
 *		- Posts
 *		- Posts Carousel
 *	 	- Post
 *	 	- Post Timeline Datetime
 *
 * 
 */

:root {
	--plura-wp-posts-gap: 30px;
	--plura-wp-post-gap: calc( var(--cp-posts-gap) / 2 );
	--plura-wp-posts-cols: 1;
}

@media (min-width: 768px) {

	:root {
		--plura-wp-posts-cols: 2;
	}

}

@media (min-width: 991px) {

	:root {
		--plura-wp-posts-cols: 3;
	}

}

@media (min-width: 991px) {

	:root {
		--plura-wp-posts-cols: 3;
	}

}


@media (min-width: 1200px) {

	:root {
		--plura-wp-posts-cols: 4;
	}

}



/* Modules: Posts */
.plura-wp-posts {

}



/* fancyapps carousel */
.plura-wp-posts.plura-wp-f-carousel {
	--f-carousel-spacing: var(--plura-wp-posts-gap);
}

:is(.plura-wp-posts .plura-wp-post, .plura-wp-post.plura-wp-post-is-single) {
	display: flex;
	flex-direction: column;
	gap: calc(var(--cpsb-globals-gap) / 3 );
}



/* Modules: Post Timeline Datetime */
.plura-wp-post-timeline {
    display: flex;
    gap: calc( var(--plura-globals-gap) / 3 );
}

.plura-wp-post-timeline::before {
	content: '-';
	order: 2;
}

.plura-wp-post-timeline .plura-wp-post-timeline-end {
	order: 3;
}

